body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: rgb(221, 205, 134);

    width: 100%;
    height: 60px;

    position: fixed;

    top: 0;

}

#navigation {
    background-color: rgb(226, 139, 135);

    width: 100%;
    height: 50px;

    top: 60px;

    position: fixed;
}

#sidenav {
    background-color: rgb(138, 213, 230);

    width: 275px;
    height: 100%;

    height: 100;

    float: left;

    top: 110px;

    position: fixed;
}
#sidenav ul {
    list-style-type: none;
    padding: 0;
    padding-left: 40px;
}
#sidenav ul li {
    margin-bottom: 4px;
}
#sidenav ul li a {
    text-decoration: none;
    color: black;
}

#sidenav h3 + ul {
    color: red;
}


#middle-section {
    margin-top: 110px;
    margin-left: 275px;
}

#content {
    background-color: rgb(190, 190, 190);

    width: 100%;
    min-height: 100vh;
    height: fit-content;

    float: right;
}

#footer {
    background-color: rgb(125, 125, 230);
    width: 100%;
    height: 100px;
    clear: both;
}