footer {
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    padding-bottom: 0px;
}
.footer-text {
    color: #888888;
    font-size: 14px;;
}
.big-footer-link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: rgb(53, 54, 82);
    background: #f0f0f0;
    padding: 15px 0px;
    font-weight: bold;
}
.big-footer-link:hover {
    background: #e0e0e0;
}