#header {
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.3s ease;

    background: transparent;

    width: 100%;
    height: 3.6rem;

    justify-content: center;
    align-items: center;
    
    display: flex;
    flex-direction: row;  

    mix-blend-mode: difference;
    color: white;
}


.logo {
    mix-blend-mode: difference;

    width: 3.2rem;
    height: 3.2rem;

    flex: 0 0 auto;
    margin: 0, auto;


}
.logo img {
    width: 100%;
    height: 100%;
}
.logo-mobile {
    display: none;
    position: fixed;
}


.bar {
    width: 50px;
    height: 5px;
    background-color: white;
    margin: 10px 0;
}
#mobile-menu-button {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 20px;
    right: 20px;

    z-index: 1000;
}
#mobile-menu-items {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 80px;
    right: 20px;

    mix-blend-mode: normal;
    background-color: black;
    padding: 10px;
    border-radius: 5px;

    z-index: 1000;
}


.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 0 20px;

    flex: 1;
    
    width: 300px;
    max-width: 300px;

}
.header-nav a {
    text-decoration: none;
    color: white; 
    font-size: 1.2rem;
}

@media (max-width: 800px) {
    .logo-desktop {
        display: none;
    }
    .logo-mobile {
        display: block;
    }

    .header-nav {
        display: none;
    }

    #mobile-menu-button {
        display: block;
    }
    #mobile-menu-items {
        display: flex;
        display: none; /*TODO: nur erscheinen, wenn buton gecklickt*/
    }
}
