#content {
    height: 300vh;
    background: white;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        bottom: 40px;
    }
    40% {
        bottom: 50px;
    }
    60% {
        bottom: 45px;
    }
}

#intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: #000;
    color: white;
}
#scroll-down-indicator {
    width: 1.6rem;
    height: 1.6rem;

    rotate: 45deg;

    border-right: 5px solid white;
    border-bottom: 5px solid white;

    position: absolute;
    bottom: 40px;
    animation: bounce 2s infinite;
}

.heading-big {
    font-size: 3rem;

    color: rgb(255, 208, 0);

    font-family: Bungee, monospace;

    transition: color 0.7s ease;
}
.heading-big:hover {

    color: rgb(234, 0, 255);
}
