main {
    flex: 1;
    padding: 40px;
}

main h2 {
    color: #383838;
    font-size: 42px;
    margin-bottom: 14px;
}
main p {
    color: #000;
    font-size: 26px;
}
main a {
    color: #1a73e8;
    text-decoration: none;
    transition: text-decoration 0.3s;
}
