
.main-navbar {
    margin: 10px 0;
    text-align: center;
}
/* Center the navbar horizontally */
.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}


.navbar-link {
	color: #18272F;
    position: relative;
    text-decoration: none;
    font-size: 26px;
}

.navbar-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.navbar-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}