
html {
    font-size: 20px;
}

body {
    font-family: 'Open Sans', monospace;
    background-color: black;
    margin: 0;
    padding: 0;
}

#console {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: green;
    padding: 5px;
    border-radius: 3px;

    font-weight: 450;

    font-size: 2em;

    text-shadow: 
        0 0 5px #00FF00,
        0 0 20px #00FF00;
}


