@font-face {
  font-family: 'CrazyPeti4';
  src: local('CrazyPeti4'), url('../fonts/CrazyPeti4.ttf') format('truetype');
}

body {
    background-color: #f0f0f0;
    font-family: 'M PLUS Rounded 1c', 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}