html {
    font-size: 35px;
    font-family: "Playwrite NZ Basic", monospace;
}

body {
        margin: 0;
        padding: 0;
        background: black;
}

@media (max-width: 800px) {
    html {
        font-size: 20px;
    }
}