@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --purple: #bc13fe;
    --light-green: #35fc3f;
    --dark-green: #010a01;
    --blue-gray: #9DB5B2;
}

html {
    font-size: 20px;
}

body {
    font-family: "Azeret Mono", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.top-nav {
    padding: 1em 0;
    text-align: right;
}
.top-nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
    font-size: 1.2em;
    transition: 0.3s;
}
.top-nav a:hover {
    font-style: oblique 15deg;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.margin-side {
    margin-left: 2em;
    margin-right: 2em;
}
.white {
    color: white;
}
.round {
    border-radius: 50%;
}
.centered {
    text-align: center;
}

.glow-text {
    text-shadow: 0 0 4px greenyellow;
                
}
.glow {
    box-shadow: 0 0 .2rem white,
            0 0 .2rem white,
            0 0 2rem,
            0 0 0.8rem var(--purple),
            0 0 2.8rem var(--purple),
            inset 0 0 1.3rem var(--purple); 
}
.btn-container {
    margin-top: 2em;
    display: flex;
    gap: 1.5em;
}
.btn {
    display: inline-block;
    padding: 0.75em 1.5em;
    font-size: 1.2em;
    color: white;
    background-color: #333;
    border: 2px solid white;
    border-radius: 100px;
    text-decoration: none;
    transition: 0.3s;
}
.btn:hover {
    background-color: #555;
    box-shadow: 0 0 10px var(--light-green);
    border: 2px solid var(--light-green);
}

.logo-small {
    width: 5em;
    height: 5em;
}
#logo-large {
    width: 17em;
    height: 17em;
}
#name-heading {
    font-size: 2.5em;
    margin-top: 2em;
}
.name-heading {
    font-size: 1.5em;
    font-weight: normal;
}

.bg-darkgreen {
    background-color: var(--dark-green);
}
.bg-white {
    background-color: white;
}
.bg-gray {
    background-color: var(--blue-gray);
}

.full-height{
    margin: 0;
    height: 100vh;

}
.min-full-height{
    margin: 0;
    min-height: 100vh;
    padding-top: 2em;
    padding-bottom: 2em;
}

.padding-mid {
    padding: 2em;
}

@media (max-width: 66em) {
    
    #logo-large {
        width: 12em;
        height: 12em;
    }
    #name-heading {
        font-size: 2em;
        margin-top: 0.5em;
    }
    .btn-container {
        flex-direction: column;
        margin-top: 1em;
        gap: 0.5em;
    }
}

@media (max-width: 200px) {
    html {
        font-size: 10px;
    }
}


footer {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 2em;
    color: rgb(194, 194, 194);
    background-color: #050505;
}

footer strong {
    font-size: 0.9em;
    color: white;
}

footer p {
    font-size: 0.5em;
}